@mixin position($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}

.wrapper {
  background: url(../images/feathers-background.jpg)
    no-repeat
    center
    center
    fixed;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: #E2DDDD;
  font-family: 'Cabin Sketch', cursive;
  h1 {
    font-size: 5vw;
  } 
  h2 {
    font-size: 3vw;
  }
  .break {
    @include position(40vw, 5vh);
    .break__adjust {
      .break__adjust-minus {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
      .break__adjust-plus {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .session {
    @include position(70vw, 5vh);
    .session__adjust {
      .session__adjust-minus {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
      .session__adjust-plus {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .series {
    @include position(40vw, 68vh);
    .series__adjust {
      .series__adjust-minus {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
      .series__adjust-plus {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .timer {
    @include position(70vw, 60vh);
    .timer__container {
      width: 20vw;
      &:hover {
        cursor:pointer;
      }
      .timer__container-text {
        text-align: center;
        vertical-align: middle;
        line-height: 20vh;
        text-shadow: 2px 2px 1px #9090E8;
      }
    }
    .timer__stop:hover {
      cursor:pointer;
    }
  }
}

@media (max-width:600px) {
  .wrapper {
    h1 {
      font-size: 10vw;
    } 
    h2 {
      font-size: 6vw;
    }
    .break {
      @include position(10vw,10vh);
    }
    .session {
      @include position(50vw,10vh);
    }
    .series {
      @include position(10vw,58vh);
    }
    .timer {
      @include position(60vw,50vh);
    }
  }
}